@CHARSET "ISO-8859-1";

h1.titulo{
	text-align:center;
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5c9ccc;
	font-size: xx-large;
	font-weight: bolder;
}

h2.titulo{
	text-align:center;
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5F9FFF;
	font-size: large;
}

span.user{
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5c9ccc;
	font-size: small;
}

.ui-menu{
	width: 175px;
	margin-left:auto;
	position:absolute;
	z-index: 1;
}

#tabs{
	width: 790px;
	height: auto;
	margin-left:190px;
	z-index: 0;
}


#botones{
	position: relativabe;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-left: 2.5%;
	padding-left: 7.5%;	
	padding-right: auto;
}

#menuAdm{
	border-style: solid;
	border-color: black;
	font-size: small;
}

#btnAdmin{
	left:80%;
	font-size: x-small;
}

#btnLogOut{
	left:80%;
	font-size: x-small;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


/*** central column on page ***/
div#divContainer
{
    max-width: 790px;
    margin: 0 auto;
    font-family: Calibri;
    padding: 0.5em 1em 1em 1em;
    padding-top: 0em;

    /* rounded corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    /* add gradient */
    background-color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,160,200)), to(rgb(165,200,220)));
    background: -moz-linear-gradient(top, rgb(100,160,200), rgb(140,180,220));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(100,160,200)', endColorstr='rgb(140,180,0)');

    /* add box shadows */
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

h1 {color:#FFE47A; font-size:1.5em;}

/*** sample table to demonstrate CSS3 formatting ***/
table.formatHTML5 {
	width:100%;
    border-collapse:collapse;
    text-align:center;
    color: #000000;
}

/*** table's thead section, head row style ***/
table.formatHTML5 thead tr td  {
    background-color: White;
    vertical-align:middle;
    padding: 0.6em;
    font-size:0.6em;
}

/*** table's thead section, coulmns header style ***/
table.formatHTML5 thead tr th
{
    padding: 0.5em;
    color: #FFE47A;
}

/*** table's tbody section, odd rows style ***/
table.formatHTML5 tbody tr:nth-child(odd) {
   background-color: rgb(230,240,250);
}

/*** hover effect to table's tbody odd rows ***/
table.formatHTML5 tbody tr:nth-child(odd):hover
{
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,160,200)), to(rgb(140,180,220)));
    background: -moz-linear-gradient(top, rgb(100,160,200), rgb(140,180,220));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(100,160,200)', endColorstr='rgb(165,200,220)');
    color: #FFE47A;
}

/*** table's tbody section, even rows style ***/
table.formatHTML5 tbody tr:nth-child(even) {
    background-color: rgb(190,215,235);
}

/*** hover effect to apply to table's tbody section, even rows ***/
table.formatHTML5 tbody tr:nth-child(even):hover
{
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,160,200)), to(rgb(140,180,220)));
    background: -moz-linear-gradient(top, rgb(100,160,200), rgb(140,180,220));  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(100,160,200)', endColorstr='rgb(165,200,220)');
    color: #FFE47A;
}

/*** table's tbody section, last row style ***/
table.formatHTML5 tbody tr:last-child {
     border-bottom: solid 1px #404040;
}

/*** table's tbody section, separator row pseudo-class ***/
table.formatHTML5 tbody tr.separator {
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(100,160,200)), to(rgb(140,180,220)));
    background: -moz-linear-gradient(top, rgb(100,160,200), rgb(140,180,220));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(100,160,200)', endColorstr='rgb(165,200,220)');
    color: #dadada;
}

/*** table's td element, all section ***/
table.formatHTML5 td {
   vertical-align:middle;
   padding: 0.5em;
}

/*** table's tfoot section ***/
table.formatHTML5 tfoot{
    text-align:center;
    color:#FFFFFF;
    text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}



/*** FIN TABLAS ***/


#central{
	display: block;
	width:995px;
	margin-right: auto;
	margin-left: auto;
	font-size: 80%;
	min-height: 400px;
}

.flabel{
	display:block;
    margin-top:25px;
    letter-spacing:1px;
}

input[type="text"]{
	width: 100%;
}

input[type="submit"]{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.errorMsg{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
}


.perrorMsg{
	color: black;
	text-align: center;
}

.pgreenMsg{
	color: black;
	text-align: center;
}

/*** Mensaje Verde ***/
.ui-state-green, .ui-widget-content .ui-state-green, .ui-widget-header .ui-state-green {border: 1px solid #0acd0a; background: #eaffea url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #0acd0a; }
.ui-state-green a, .ui-widget-content .ui-state-green a, .ui-widget-header .ui-state-green a { color: #0acd0a; }
.ui-state-green-text, .ui-widget-content .ui-state-green-text, .ui-widget-header .ui-state-green-text { color: #0acd0a; }


footer{
	text-align: center;
	position:static;
	bottom: 2px;
	font-family: Verdana,Arial,sans-serif;
	font-size: 60%;
}


div.ui-dialog-buttonpane {
	font-size: 80%;
}

#TablePanel{
	width:90%;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

#TablePanel tr{
	min-height: 25px;
}

.btnPanel{
	width:45%;	
	padding:1em;
}

.hEquipo{	
	font-family: Verdana,Arial,sans-serif;
	color:#E17009;
}

ol li{
	font-weight: bold;
}

ol li span {
	font-weight: normal;
}

.indice a{
	color:rgb(140,180,255);
	font-style: normal;
	font-stretch: normal;
}
.indice a:HOVER{
	color:#E17009;
}

/*** Inicio Tooltips ***/
.ui-tooltip, .arrow:after {
    background: rgb(140,180,255);
    border: 2px solid #E17009;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: 0px;
    top: auto;
}

/*** Fin Tooltips ***/