@CHARSET "ISO-8859-1";

h1.titulo{
	text-align:center;
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5c9ccc;
}

#tabs{
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

#botones{
	position: relativabe;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-left: 2.5%;
	padding-left: 7.5%;	
	padding-right: auto;
}

#menuAdm{
	border-style: solid;
	border-color: black;
}

#btnAdmin{
	left:90%;
	font-size: x-small;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
