@CHARSET "ISO-8859-1";

h1.titulo{
	text-align:center;
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5c9ccc;
	font-size: xx-large;
}

span.user{
	border-color: #4297d7;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#5c9ccc;
	font-size: small;
}

.ui-menu{
	width: 175px;
	margin-left:auto;
	position:absolute;
	z-index: 1;
}

#tabs{
	width: 800px;
	height: auto;
	margin-left:auto;
	z-index: 0;
}


#botones{
	position: relativabe;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-left: 2.5%;
	padding-left: 7.5%;	
	padding-right: auto;
}

#menuAdm{
	border-style: solid;
	border-color: black;
	font-size: small;
}

#btnAdmin{
	left:80%;
	font-size: x-small;
}

#btnLogOut{
	left:80%;
	font-size: x-small;
}

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


/*** central column on page ***/
div#divContainer
{
    max-width: 800px;
    margin: 0 auto;
    font-family: Calibri;
    padding: 0.5em 1em 1em 1em;
    padding-top: 0em;

    /* rounded corners */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    /* add gradient */
    background-color: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#F0F0F0));
    background: -moz-linear-gradient(top, #606060, #F0F0F0);

    /* add box shadows */
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

h1 {color:#FFE47A; font-size:1.5em;}

/*** sample table to demonstrate CSS3 formatting ***/
table.formatHTML5 {
    width: 100%;
    border-collapse:collapse;
    text-align:center;
    color: #000000;
}

/*** table's thead section, head row style ***/
table.formatHTML5 thead tr td  {
    background-color: White;
    vertical-align:middle;
    padding: 0.6em;
    font-size:0.8em;
}

/*** table's thead section, coulmns header style ***/
table.formatHTML5 thead tr th
{
    padding: 0.5em;
    color: #dadada;
}

/*** table's tbody section, odd rows style ***/
table.formatHTML5 tbody tr:nth-child(odd) {
   background-color: #fafafa;
}

/*** hover effect to table's tbody odd rows ***/
table.formatHTML5 tbody tr:nth-child(odd):hover
{
    cursor:pointer;
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
    background: -moz-linear-gradient(top, #606060, #909090);
    color: #dadada;
}

/*** table's tbody section, even rows style ***/
table.formatHTML5 tbody tr:nth-child(even) {
    background-color: #efefef;
}

/*** hover effect to apply to table's tbody section, even rows ***/
table.formatHTML5 tbody tr:nth-child(even):hover
{
    cursor:pointer;
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
    background: -moz-linear-gradient(top, #606060, #909090);
    color: #dadada;
}

/*** table's tbody section, last row style ***/
table.formatHTML5 tbody tr:last-child {
     border-bottom: solid 1px #404040;
}

/*** table's tbody section, separator row pseudo-class ***/
table.formatHTML5 tbody tr.separator {
    /* add gradient */
    background-color: #808080;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#909090));
    background: -moz-linear-gradient(top, #606060, #909090);
    color: #dadada;
}

/*** table's td element, all section ***/
table.formatHTML5 td {
   vertical-align:middle;
   padding: 0.5em;
}

/*** table's tfoot section ***/
table.formatHTML5 tfoot{
    text-align:center;
    color:#303030;
    text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}

/*** FIN TABLAS ***/


#central{
	display: block;
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}

.flabel{
	display:block;
    margin-top:25px;
    letter-spacing:1px;
}

input[type="text"]{
	width: 100%;
}

input[type="submit"]{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}